<div class="wrapper">

	<div class="navbar">
	  <section class="navbar-section">
	    <a href="#" class="btn btn-link">Docs</a>
	    <a href="https://github.com/picturepan2/spectre" class="btn btn-link">GitHub</a>
	  </section>
	  <section class="navbar-center">
	  	<b>PEN</b>BALLOT
	  </section>
	  <section class="navbar-section">
	    <a *ngIf="!token" class="btn btn-primary" href="">Login</a>
	    <a *ngIf="token" class="btn btn-primary" href="">Logout</a>
	  </section>
	</div>


	<div class="sidebar">
		<ul class="menu">
			<div class="tile tile-centered" *ngIf="token">
		    <div class="tile-icon">
		      <img src="{{token.picture}}" class="avatar" alt="Avatar">
		    </div>
		    <div class="tile-content">
		      {{token.name}}
		    </div>
		  </div>

		  <li class="divider" *ngIf="token">
		  <li class="menu-item" *ngIf="token"><a href="#"><i class="icon icon-emoji"></i> My Info</a></li>
		  <li class="menu-item" *ngIf="token">
		  	<a routerLink="/ballots"><i class="icon icon-apps"></i> My Ballots</a>
		  </li>
		  <li class="menu-item" *ngIf="token"><a href="#"><i class="icon icon-bookmark"></i> My Nominations</a></li>

		  <li class="divider" data-content="OTHER"></li>
		  <li class="menu-item"><a href="#"><i class="icon icon-message"></i> Announcements</a></li>
		  <li class="menu-item"><a href="#"><i class="icon icon-check"></i> Online Help</a></li>
		  <li class="menu-item" *ngIf="token"><a href="#"><i class="icon icon-shutdown"></i> Admin (Gear 4)</a></li> 
		  <li class="menu-item" *ngIf="token"><a href="#"><i class="icon icon-edit"></i> Candidate</a></li>
		</ul>
	</div>


	<div class="content">
		<router-outlet *ngIf="token"></router-outlet>
		<div class="empty" *ngIf="!token">
		  <div class="empty-icon">
		    <i class="icon icon-people"></i>
		  </div>
		  <p class="empty-title h5">You need to be logged in to see the ballots</p>
		  <p class="empty-subtitle">Click the button below to Login.</p>
		  <div class="empty-action">
		    <button class="btn btn-primary">Login</button>
		  </div>
		</div>
	</div>

	<div class="panel live-help">
	  <div class="panel-header">
	    <div class="panel-title h6">Open Chat</div>
	  </div>
	  <div class="panel-body">
      <div class="tile">
        <div class="tile-icon">
          <figure class="avatar" data-initial="TS"></figure>
        </div>
        <div class="tile-content">
          <p class="tile-title">Tony Stark</p>
          <p class="tile-subtitle">Earth's Mightiest Heroes joined forces to take on threats that were too big for any one hero to tackle...</p>
        </div>
      </div>
      <div class="tile">
        <div class="tile-icon">
          <figure class="avatar">
            <img src="img/avatar-4.png" alt="Avatar">
          </figure>
        </div>
        <div class="tile-content">
          <p class="tile-title">Steve Rogers</p>
          <p class="tile-subtitle">The Strategic Homeland Intervention, Enforcement, and Logistics Division...</p>
        </div>
      </div>
	    <div class="tile">
	      <div class="tile-icon">
	        <figure class="avatar">
	          <img src="img/avatar-3.png" alt="Avatar">
	        </figure>
	      </div>
	      <div class="tile-content">
	        <p class="tile-title">Natasha Romanoff</p>
	        <p class="tile-subtitle">Earth's Mightiest Heroes joined forces to take on threats that were too big for any one hero to tackle...</p>
	      </div>
	    </div>
	  </div>
	  <div class="panel-footer" *ngIf="token">
	    <div class="input-group">
	      <input class="form-input" placeholder="Hello" type="text">
	      <button class="btn btn-primary input-group-btn">Send</button>
	    </div>
	  </div>
	</div>

	<div class="footer">
		Footer :-}
	</div>

</div>

