
<div class="wrapper">

	<div class="navbar">
	  <section class="navbar-section">
	    <a href="#" class="btn btn-link">Docs</a>
	    <a href="https://github.com/picturepan2/spectre" class="btn btn-link">GitHub</a>
	  </section>
	  <section class="navbar-center">
	  	<b>PEN</b>BALLOT
	  </section>
	  <section class="navbar-section">
	    <a class="btn btn-primary" href="">Login</a>
	  </section>
	</div>


	<div class="sidebar">
		<ul class="menu">
			<div class="tile tile-centered">
		    <div class="tile-icon">
		      <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/cat-icon.png" class="avatar" alt="Avatar">
		    </div>
		    <div class="tile-content">
		      Adithya kumar
		    </div>
		  </div>

		  <li class="divider">
		  <li class="menu-item"><a href="#"><i class="icon icon-emoji"></i> My Info</a></li>
		  <li class="menu-item"><a href="#"><i class="icon icon-apps"></i> My Ballots</a></li>
		  <li class="menu-item"><a href="#"><i class="icon icon-bookmark"></i> My Nominations</a></li>

		  <li class="divider" data-content="OTHER"></li>
		  <li class="menu-item"><a href="#"><i class="icon icon-message"></i> Announcements</a></li>
		  <li class="menu-item"><a href="#"><i class="icon icon-check"></i> Online Help</a></li>
		  <li class="menu-item"><a href="#"><i class="icon icon-shutdown"></i> Admin (Gear 4)</a></li> 
		  <li class="menu-item"><a href="#"><i class="icon icon-edit"></i> Candidate</a></li>
		</ul>
	</div>


	<div class="content">
		<div class="tile">
		  <div class="tile-content">
		  	<h5>GS2017PKD</h5>
		    <p class="tile-title">General Secratry Elections</p>
		    <p class="tile-subtitle text-gray">
					Public Key : 67115
					<br />
					Modulus : 2098301930917201648650...0198635011113515151
				</p>
				<p>
          <button class="btn btn-primary btn-sm">Open</button>
          <button class="btn btn-sm float-right">Report</button>
        </p>
		  </div>
		</div>

	</div>

	<div class="panel live-help">
	  <div class="panel-header">
	    <div class="panel-title h6">Open Chat</div>
	  </div>
	  <div class="panel-body">
      <div class="tile">
        <div class="tile-icon">
          <figure class="avatar" data-initial="TS"></figure>
        </div>
        <div class="tile-content">
          <p class="tile-title">Tony Stark</p>
          <p class="tile-subtitle">Earth's Mightiest Heroes joined forces to take on threats that were too big for any one hero to tackle...</p>
        </div>
      </div>
      <div class="tile">
        <div class="tile-icon">
          <figure class="avatar">
            <img src="img/avatar-4.png" alt="Avatar">
          </figure>
        </div>
        <div class="tile-content">
          <p class="tile-title">Steve Rogers</p>
          <p class="tile-subtitle">The Strategic Homeland Intervention, Enforcement, and Logistics Division...</p>
        </div>
      </div>
	    <div class="tile">
	      <div class="tile-icon">
	        <figure class="avatar">
	          <img src="img/avatar-3.png" alt="Avatar">
	        </figure>
	      </div>
	      <div class="tile-content">
	        <p class="tile-title">Natasha Romanoff</p>
	        <p class="tile-subtitle">Earth's Mightiest Heroes joined forces to take on threats that were too big for any one hero to tackle...</p>
	      </div>
	    </div>
	  </div>
	  <div class="panel-footer">
	    <div class="input-group">
	      <input class="form-input" placeholder="Hello" type="text">
	      <button class="btn btn-primary input-group-btn">Send</button>
	    </div>
	  </div>
	</div>

	<div class="footer">
		Footer :-}
	</div>

</div>

