.display-info td {
    text-align: left;
}

.display-info .name {
    margin-left: 10px;
    font-weight: bold;
}

.display-info .limit-width {
    max-width: 450px;
    overflow: auto;
}

.loading-bar {
    border-radius: 0px;
}

.loading-bar .bar-item {
    border-radius: 0px;
}