<div class="tile">
	<div class="tile-content">
    <h6>Register as Candidate for {{ballot.name}}</h6>
    <ul>
    	<li>You need atleast 2 nominations in the Nomination phase.</li>
    	<li>You cannot nominate yourself.</li>
    	<li>You will be removed as a Candidate if the requirement is not met.</li>
    	<li>Additionally, the admins have the right to remove you with valid reasons.</li>
    </ul>
		<div class="form-group">
		  <label class="form-label text-error" for="doc-url">Link to your document*</label>
		  <input class="form-input" type="text" id="doc-url" placeholder="Preferabally google docs.">
		</div>
    <button class="btn">I am aware of the above, Register me!</button>
	</div>
</div>