<div class="ballot-card">
    <div class="tile tile-centered">
        <div class="tile-icon">
            <div class="phase bg-secondary rounded tooltip tooltip-right float-right h3" data-tooltip="Lorem ipsum dolor sit amet">C</div>
        </div>
        <div class="tile-content">
            <div class="tile-title">General Secretary Elections</div>
            <div class="tile-subtitle text-gray">GS-2015</div>
        </div>
        <div class="tile-action">
            <button class="btn">
                Open
            </button>
        </div>
    </div>
</div>

<style>
    .ballot-card {
        padding: 5px;
        background-color: #fff;
    }

    .ballot-card .phase {
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 15px;
        padding-right: 15px;
    }
</style>