<div class="ballot-card">
    <div class="tile tile-centered">
        <div class="tile-icon">
            <div class="phase rounded tooltip tooltip-right float-right h3 {phaseBtnProps[ballot.phase].classes.join(' ')}" data-tooltip="{phaseBtnProps[ballot.phase].tooltip}">C</div>
        </div>
        <div class="tile-content">
            <div class="tile-title">{ballot.name}</div>
            <div class="tile-subtitle text-gray">{ballot.code}</div>
        </div>
        <div class="tile-action">
            <button class="btn" on:click="openBallot(ballot.code)">
                Open
            </button>
        </div>
    </div>
</div>

<style>
    .ballot-card {
        padding: 5px;
        background-color: #fff;
    }

    .ballot-card .phase {
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 15px;
        padding-right: 15px;
    }
</style>

<script>

    export default {
        oncreate() {
            console.log({
                "phaseBtnProps[ballot.phase].classes.join(' ')": this.get().phaseBtnProps[ballot.phase].classes.join(' '),
                "phaseBtnProps[ballot.phase].tooltip": this.get().phaseBtnProps[ballot.phase].tooltip,
                "ballot.name": this.get().ballot.name,
                "ballot.code": this.get().ballot.code
            })
        },
        methods: {
            openBallot(ballotCode) {
                this.fire('openBallot', { ballotCode: ballotCode })
            }
        }
    }
</script>