<html>

<head>
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.0/normalize.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
  <style>
    .ballot-bar-wrapper {
      padding: 10px;
    }

    .ballot-bar {
      padding: 5px;
      background-color: #fff;
    }

    .ballot-card {
      padding: 5px;
      margin: 5px 0px;
      background-color: #fff;
    }

    .ballot-card .phase {
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 15px;
      padding-right: 15px;
    }
  </style>
</head>

<body>
  <div class="ballot-bar-wrapper bg-secondary">
    <div class="ballot-bar">
      <div class="tile tile-centered ballot-card">
        <div class="tile-icon">
          <div class="phase bg-secondary rounded tooltip tooltip-right float-right h3" data-tooltip="Lorem ipsum dolor sit amet">C</div>
        </div>
        <div class="tile-content">
          <div class="tile-title">General Secretary Elections</div>
          <div class="tile-subtitle text-gray">GS-2015</div>
        </div>
        <div class="tile-action">
          <button class="btn">
            Open
          </button>
        </div>
      </div>
      <div class="tile tile-centered ballot-card">
        <div class="tile-icon">
          <div class="phase bg-primary rounded tooltip tooltip-right float-right h3" data-tooltip="Lorem ipsum dolor sit amet">R</div>
        </div>
        <div class="tile-content">
          <div class="tile-title">Sports Secretary Elections</div>
          <div class="tile-subtitle text-gray">SS-2018</div>
        </div>
        <div class="tile-action">
          <button class="btn">
            Open
          </button>
        </div>
      </div>
      <div class="tile tile-centered ballot-card">
        <div class="tile-icon">
          <div class="phase bg-warning rounded tooltip tooltip-right float-right h3" data-tooltip="Lorem ipsum dolor sit amet">N</div>
        </div>
        <div class="tile-content">
          <div class="tile-title">Cultural Secretary Elections</div>
          <div class="tile-subtitle text-gray">CS-2018</div>
        </div>
        <div class="tile-action">
          <button class="btn">
            Open
          </button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>