<html>
    <head>
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.0/normalize.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
        <style>
            .ballot-btn .phase {
                padding-top: 4px;
                padding-bottom: 4px;
                padding-left: 15px;
                padding-right: 15px;
            }

            .ballot-bar {
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <div class="bg-gray ballot-bar">
            <div class="card ballot-btn">
                <div class="card-header">
                    <div class="phase bg-secondary rounded tooltip tooltip-left float-right h3" data-tooltip="Lorem ipsum dolor sit amet">C</div>
                    <div class="card-title h6">General Secretary Elections</div>
                    <div class="card-subtitle text-gray">GS-2015</div>
                </div>
            </div>
            <div style="height: 10px;"></div>
            <div class="card ballot-btn">
                <div class="card-header">
                    <div class="phase bg-primary rounded tooltip tooltip-left float-right h3" data-tooltip="Lorem ipsum dolor sit amet">R</div>
                    <div class="card-title h6">Sports Secretary Elections</div>
                    <div class="card-subtitle text-gray">SS-2015</div>
                </div>
            </div>
            <div style="height: 10px;"></div>
            <div class="card ballot-btn">
                <div class="card-header">
                    <div class="phase bg-dark rounded tooltip tooltip-left float-right h3" data-tooltip="Lorem ipsum dolor sit amet">N</div>
                    <div class="card-title h6">Cultural Secretary Elections</div>
                    <div class="card-subtitle text-gray">CS-2015</div>
                </div>
            </div>
            <div style="height: 10px;"></div>
            <div class="card ballot-btn">
                <div class="card-header">
                    <div class="phase bg-success rounded tooltip tooltip-left float-right h3" data-tooltip="Lorem ipsum dolor sit amet">V</div>
                    <div class="card-title h6">Mess Secretary Elections</div>
                    <div class="card-subtitle text-gray">MS-2015</div>
                </div>
            </div>
        </div>
    </body>
</html>