<html>
    <head>
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.0/normalize.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
        <style>
            .ballot-btn .phase {
                padding-top: 4px;
                padding-bottom: 4px;
                padding-left: 15px;
                padding-right: 15px;
            }
        </style>
    </head>
    <body>
        <div class="bg-dark" style="padding: 10px; padding-top: 60px;">
            <h3 class="text-bold">Ballot Details.</h3>
            <table class="table">
                <tr>
                    <td>Name</td>
                    <td>General Secratary 2015</td>
                </tr>
                <tr>
                    <td>Public key</td>
                    <td>65518</td>
                </tr>
                <tr>
                    <td>Phase</td>
                    <td>C</td>
                </tr>
            </table>
        </div>
    </body>
</html>