<html>
    <head>
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.0/normalize.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
        <style>
            .side-bar {
                padding: 15px;
            }
            .side-bar .logo {
                margin: .35rem .4rem;
            }
        </style>
    </head>
    <body>
        <div class="side-bar">
            <div class="columns">
                <div class="column col-8">
                    <div class="logo rounded"><span class="text-bold">PEN</span>BALLOT</div>
                </div>
                <div class="column col-4">
                    <button class="btn btn-block">Logout</button>
                </div>
            </div>
            <ul class="nav">
                <li class="divider" data-content="ADITHYA KUMAR"></li>
                <li class="nav-item">
                    <a href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="#">Nominations</a>
                </li>
                <li class="divider" data-content="SOCKET"></li>
                <li class="nav-item">
                    <a href="#">Online Help</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="badge" data-badge="6">Announcements</a>
                </li>
                <li class="divider" data-content="DEV"></li>
                <li class="nav-item">
                    <a href="#">Documentation</a>
                </li>
                <li class="nav-item">
                    <a href="#">Github</a>
                </li>
                <li class="nav-item">
                    <a href="#">Contributers</a>
                </li>
                <li class="nav-item">
                    <a href="#">Guidelines</a>
                </li>
                <li class="divider" data-content="LEGAL"></li>
                <li class="nav-item">
                    <a href="#">Terms of usage</a>
                </li>
            </ul>
        </div>
    </body>
</html>