<html>

<head>
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.0/normalize.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
  <style>
  </style>
</head>

<body>
  <div class="ballot-details">
    <div class="code" data-lang="NAME">
      <code><b>General Secratary Elections 2018</b></code>
    </div>
    <div style="height: 10px;"></div>
    <div class="columns">
      <div class="column">
        <div class="code" data-lang="PUBLIC KEY">
          <code>67887</code>
        </div>
      </div>
      <div class="column">
        <div class="code" data-lang="PHASE">
          <code>Create</code>
        </div>
      </div>
    </div>
    <div style="height: 10px;"></div>
    <div class="code" data-lang="GROUP MODULUS">
      <code>792730197018927098126318263182609128640912864981246019824601298461092846120984612098461209846120986219086476387560925723095809741086410284671826523987461798456182541287542168746152746124762154621
        </code>
    </div>
  </div>
</body>

</html>