<html>

<head>
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.0/normalize.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
  <style>
    .cmd {
      padding: 15px;
    }
  </style>
</head>

<body>
  <div class="cmd">
    <div class="has-icon-left tooltip tooltip-top" data-tooltip="type help to learn more">
      <i class="form-icon icon icon-arrow-right"></i>
      <input type="text" class="form-input input-lg" placeholder="execute commands, eg: ballot.open.[GS2017]">
    </div>
  </div>
</body>

</html>