<html>

<head>
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.0/normalize.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
  <style>
  </style>
</head>

<body>
  <header class="navbar">
    <section class="navbar-section">
      <a href="#" class="btn btn-link">
        <i class="icon icon-arrow-left"></i> Menu</a>
    </section>
    <section class="navbar-center">
      <div class="text-center text-bold">BALLOT DETAILS
        <small>GS2011</small>
      </div>
    </section>
    <section class="navbar-section">
      <a href="#" class="btn btn-link">Ballots
        <i class="icon icon-arrow-right"></i>
      </a>
    </section>
  </header>


</body>

</html>