<html>

<head>
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.0/normalize.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
  <style>
  </style>
</head>
<style>
  .heading {
    margin-top: 10px;
  }
</style>

<body>
  <div class="heading text-center">
    <div class="text-bold">BALLOT DETAILS
      <small>GS2011</small>
    </div>
  </div>


</body>

</html>