<html>

<head>
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.0/normalize.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
  <style>
    .user-set {
      padding: 10px;
    }

    .user-set {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(2, 1fr);
    }

    .user-card {
      position: relative;
    }

    .user-card .link-holder a {
      padding: 4px;
    }

    .user-card .display-picture {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  </style>
</head>

<body>
  <div class="user-set">
    <div class="card user-card">
      <div class="display-picture">
        <figure class="avatar avatar-xl" data-initial="GG">
          <img src="https://picturepan2.github.io/spectre/img/avatar-1.png" alt="Adithya Kumar">
        </figure>
      </div>
      <div class="card-header">
        <div class="card-title h6 text-bold">Adithya Kumar</div>
        <div class="card-subtitle text-gray">adithya.ov@live.com</div>
      </div>
      <div class="card-body">
        <div class="link-holder d-block">
          <a class="bg-secondary rounded text-primary">doc://patric_jane.com</a>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary">Vote</button>
      </div>
    </div>

    <div class="card user-card">
      <div class="display-picture">
        <figure class="avatar avatar-xl" data-initial="GG">
          <img src="https://picturepan2.github.io/spectre/img/avatar-2.png" alt="Rando Kumar">
        </figure>
      </div>
      <div class="card-header">
        <div class="card-title h6 text-bold">Rando Kumar</div>
        <div class="card-subtitle text-gray">111501017@smail.iitpkd.ac.in</div>
      </div>
      <div class="card-body">
        <div class="link-holder d-block">
          <a class="bg-secondary rounded text-primary">doc://jane_doe.com</a>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary">Vote</button>
      </div>
    </div>

    <div class="card user-card">
      <div class="display-picture">
        <figure class="avatar avatar-xl" data-initial="GG">
          <img src="https://picturepan2.github.io/spectre/img/avatar-2.png" alt="Rando Kumar">
        </figure>
      </div>
      <div class="card-header">
        <div class="card-title h6 text-bold">Rando Kumar</div>
        <div class="card-subtitle text-gray">111501017@smail.iitpkd.ac.in</div>
      </div>
      <div class="card-body">
        <div class="link-holder d-block">
          <a class="bg-secondary rounded text-primary">doc://jane_doe.com</a>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary">Vote</button>
      </div>
    </div>

  </div>
</body>

</html>