/* You can add global styles to this file, and also import other style files */


.wrapper {
  display: grid;
  grid-template-columns: 200px auto 300px;
  grid-template-rows: auto auto auto;
  grid-column-gap: 20px;
  grid-template-areas: 
    "n n n"
    "s c lh"
    "f f f";
}

.navbar {
	padding: 10px;
	grid-area: n;
}

.sidebar {
	grid-area: s;
}

.content {
	grid-area: c;
}

.footer {
	grid-area: f;
}

.live-help {
	grid-area: lh;
	height: 400px;
}

.content .tile {
	border: 1px solid #f0f0f0;
	padding: 10px;
}

