<ngx-loading-bar [color]="'#5755d9'"></ngx-loading-bar>

<div class="wrapper">

	<div class="navbar">
	  <section class="navbar-section">
	    <a href="#" class="btn btn-link">Docs</a>
	    <a href="https://github.com/picturepan2/spectre" class="btn btn-link">GitHub</a>
	  </section>
	  <section class="navbar-center">
	  	<b>PEN</b>BALLOT
	  </section>
	  <section class="navbar-section">
	    <a *ngIf="!token.token" (click)="token.subscribe('sss')" class="btn btn-primary">Login</a>
	    <a *ngIf="token.token" (click)="token.destroy()" class="btn btn-primary">Logout</a>
	  </section>
	</div>


	<div class="sidebar">
		<ul class="menu">
			<div class="tile tile-centered" *ngIf="token.token">
		    <div class="tile-icon">
		      <img src="{{token.token.user.picture}}" class="avatar" alt="Avatar">
		    </div>
		    <div class="tile-content">
		      {{token.token.user.name}}
		    </div>
		  </div>

		  <li class="divider" *ngIf="token.token">
		  <li class="menu-item" *ngIf="token.token">
		  	<a class="c-hand" (click)="activateInfoModel()"><i class="icon icon-emoji"></i> My Info</a>
		  </li>
		  <li class="menu-item" *ngIf="token.token">
		  	<a routerLink="/ballots"><i class="icon icon-apps"></i> My Ballots</a>
		  </li>
		  <li class="menu-item" *ngIf="token.token">
		  	<a routerLink="/nominations"><i class="icon icon-bookmark"></i> My Nominations</a>
		  </li>

		  <li class="divider" data-content="OTHER"></li>
		  <li class="menu-item"><a href="#"><i class="icon icon-message"></i> Announcements</a></li>
		  <li class="menu-item"><a href="#"><i class="icon icon-check"></i> Online Help</a></li>
		  <li class="menu-item" *ngIf="token.token && token.token.user.role_code == 'A'"><a href="#"><i class="icon icon-shutdown"></i> Admin (Gear 4)</a></li> 
		</ul>
	</div>


	<div class="content">
		<router-outlet *ngIf="token.token"></router-outlet>
		<div class="empty" *ngIf="!token.token">
		  <div class="empty-icon">
		    <i class="icon icon-people"></i>
		  </div>
		  <p class="empty-title h5">You need to be logged in to see the ballots</p>
		  <p class="empty-subtitle">Click the button below to Login.</p>
		  <div class="empty-action">
		    <a (click)="token.subscribe('sss')" class="btn btn-primary">Login</a>
		  </div>
		</div>
	</div>

	<div class="panel live-help">
	  <div class="panel-header">
	    <div class="panel-title h6">Open Chat</div>
	  </div>
	  <div class="panel-body">
      <div class="tile">
        <div class="tile-icon">
          <figure class="avatar" data-initial="TS"></figure>
        </div>
        <div class="tile-content">
          <p class="tile-title">Tony Stark</p>
          <p class="tile-subtitle">Earth's Mightiest Heroes joined forces to take on threats that were too big for any one hero to tackle...</p>
        </div>
      </div>
      <div class="tile">
        <div class="tile-icon">
          <figure class="avatar">
            <img src="img/avatar-4.png" alt="Avatar">
          </figure>
        </div>
        <div class="tile-content">
          <p class="tile-title">Steve Rogers</p>
          <p class="tile-subtitle">The Strategic Homeland Intervention, Enforcement, and Logistics Division...</p>
        </div>
      </div>
	    <div class="tile">
	      <div class="tile-icon">
	        <figure class="avatar">
	          <img src="img/avatar-3.png" alt="Avatar">
	        </figure>
	      </div>
	      <div class="tile-content">
	        <p class="tile-title">Natasha Romanoff</p>
	        <p class="tile-subtitle">Earth's Mightiest Heroes joined forces to take on threats that were too big for any one hero to tackle...</p>
	      </div>
	    </div>
	  </div>
	  <div class="panel-footer" *ngIf="token.token">
	    <div class="input-group">
	      <input class="form-input" placeholder="Hello" type="text">
	      <button class="btn btn-primary input-group-btn">Send</button>
	    </div>
	  </div>
	</div>

	<div class="footer">
		Footer :-}
	</div>

</div>



<!-- Info model -->
<div *ngIf="infoModel" class="modal-md display-info modal active">
  <a (click)="deactivateInfoModel()" class="modal-overlay" aria-label="Close"></a>
  <div class="modal-container">
    <div class="modal-body">
      <div class="content">
        <div class="text-center">
        	<figure class="avatar avatar-lg">
            <img src="{{token.token.user.picture}}" alt="Avatar">
          </figure>
          <span class="name">{{token.token.user.name}}</span>
					<div class="divider" data-content="PERSONAL"></div>
					<table>
						<tr>
							<td class="key">Role</td>
							<td class="value"><div class="chip">{{token.token.user.role_code}}</div></td>
						</tr>
						<tr>
							<td class="key">Email</td>
							<td class="value"><div class="chip">{{token.token.user.email}}</div></td>
						</tr>
					</table>
					<div class="divider" data-content="TOKEN"></div>
					<table>
						<tr>
							<td class="key">Header</td>
							<td class="value"><div class="limit-width chip">{{token.token.jwt_token.split('.')[0]}}</div></td>
						</tr>
						<tr>
							<td class="key">Payload</td>
							<td class="value"><div class="limit-width chip">{{token.token.jwt_token.split('.')[1]}}</div></td>
						</tr>
						<tr>
							<td class="key">Signature</td>
							<td class="value"><div class="limit-width chip">{{token.token.jwt_token.split('.')[2]}}</div></td>
						</tr>
					</table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a (click)="deactivateInfoModel()" class="btn btn-link">Close</a>
    </div>
  </div>
</div>



