
<h2>{{ballot.name}}</h2>
<h5>{{ballot.code}}</h5>
<table class="table table-striped table-hover ballot-table">
	<tr>
		<td style="white-space: nowrap; width: 1%">Public Key</td>
		<td>{{ballot.e}}</td>
	</tr>
	<tr>
		<td style="white-space: nowrap; width: 1%">Modulus</td>
		<td><div class="limit-width">{{ballot.n}}</div></td>
	</tr>
	<tr>
		<td style="white-space: nowrap; width: 1%">Phase</td>
		<td>{{ballot.phase}}</td>
	</tr>
	<tr>
		<td style="white-space: nowrap; width: 1%">Regex Voter</td>
		<td>{{ballot.regex_voter}}</td>
	</tr>
	<tr>
		<td style="white-space: nowrap; width: 1%">Regex Candidate</td>
		<td>{{ballot.regex_candidate}}</td>
	</tr>
</table>

<br />

<div [ngSwitch]="ballot?.phase" >

	<div *ngSwitchCase="'C'">
		<div class="empty">
		  <div class="empty-icon">
		    <i class="icon icon-4x icon-flag"></i>
		  </div>
		  <p class="empty-title h5">Stale Ballot :-|</p>
		  <p class="empty-subtitle">Please come back later :-).</p>
		  <div class="empty-action">
		    <button class="btn btn-primary">Checkout the Docs?</button>
		  </div>
		</div>
	</div>

	<div *ngSwitchCase="'R'">
		<app-phase-register [ballot]="ballot"></app-phase-register>
	</div>

	<div *ngSwitchCase="'V'">
		<app-phase-voting [ballot]="ballot"></app-phase-voting>
	</div>

	<div *ngSwitchCase="'N'">
		<app-phase-nomination [ballot]="ballot"></app-phase-nomination>
	</div>



</div>

